* {
    box-sizing: border-box;
  }

/*Header styling */ 
header {
    background-color: #1D88E5;
    text-align: right;
    text-align:bottom;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
}
  

/*h1 tag */ 
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
   
}

/*navigation bar style */ 
nav {
    display:flex-end;
    padding 10px;
    justify-content: flex-end;
    flex-wrap:wrap;
   
  }
  
/*link on the navigation bar style */ 
nav a {
    color: #b9C6ae;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    padding: 15px;
    padding-top: 30px;
    
}
  
/*When you hover over the nav links */ 
nav a:hover {
    color: #fff;
}

/*some styling for the main section*/ 
main {
  
    background-color: white;
    /*width: 700px;
    height: 400px;*/
    padding: 10px;
    border: 1px solid white;
} 
  

/*STyling for the main container that goes between the header and footer*/ 
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top:0%;
    width:100%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    padding-bottom: 40px;
}

/*The styling for the titles on the left column */ 
.aboutMeSection{
    display:flex;
      width: 100%;
      height: 100%;
      padding: 20px;

}

/*The styling for the software section*/ 
.softwareSection{
    display:flex;
      width: 100%;
      height: 100%;
      padding: 20px;

}

/**/ 
.sectionTitle {
    width: 20%;
    border-right: royalblue;
    border-right-style: solid;
    border-right-width: 5px;
    min-width: 200px;
}

/*styling for the about me paragraph section*/ 
.blurb{
    text-align: left;
    padding: 30px;
    margin-left: 20px;
    width: 80%;
}

/*Covering the software links in the main section*/ 
.projects {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;

    align-items: flex-start;
}

/*THis is for the first software link that gets showcased*/ 
.mainCard {
    width: 100%;
    height: 50%;
    display:flex;
    flex-wrap:wrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    border-color: black;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-image: url("https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/dogs_1280p_0.jpg?itok=6jQzdNB8");
    background-size: cover;
    background-position: center;
}


/* div.projects section:nth-of-type(1) {
   background-image: url("https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/dogs_1280p_0.jpg?itok=6jQzdNB8");

    */
  .card {
   
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    flex: 2 1 300px;
    margin: 20px;
    border-color: black;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-image: url("https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/dogs_1280p_0.jpg?itok=6jQzdNB8");
    background-size: cover;
    background-position: center;
    min-height: 105px;
  }

/*THe buttons that link to the software*/ 
.softwareLinks{
  
    color: royalblue;
    text-decoration-color: seashell;
    border-radius: 20px;
    align-self: flex-start;
}
  
/*the main styling for the footer*/ 
footer {
  
    display: flex;
    flex-wrap: wrap;
    background-color: #1D88E5;
    width: 100%;
    border: 1px solid white;
    bottom: 0;
    padding: 20px;
  
    margin-top: auto;
   
}

/*The styling for the list setup in the footer*/ 
footer ul li {
      display: inline;
      padding: 30px;  
      font-size: 18px;
      color:  #b9C6ae; 
}


/*styling for the actual links in the footer*/ 
.contactInfo {
    display:inline;
    align-content:space-between;
    text-align: center;
    width: 80%;
    color: #b9C6ae;
    text-decoration: none;
    padding: 15px;
   
    padding-right: 40px;
}
  

/*when screen is bigger */ 
@media screen and (max-width: 992px) {
    .container,
    .projects,
    .card {
        flex-direction: row;
    }
    .softwareSection{
        height: 1200px;
    }
}

/*when screen gets smaller then 768px then realign stuff in a column */ 
@media screen and (max-width: 768px) {
    .container, 
    .projects,
    .aboutMeSection,
    nav {
      flex-direction:column;
    }
    .contactInfo{
        display:block;
    }
    .softwareSection{
        height: 1200px;
    }
}
  
  